In [2]:
import pandas as pd

link to schema/dataset https://www.kaggle.com/datasets/rtatman/lego-database/data?select=downloads_schema.png

![Data Schema](https://storage.googleapis.com/kagglesdsdata/datasets/1599/2846/downloads_schema.png?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20231212%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20231212T234545Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=53b3e47decb23e7f1baeea65238470213dd97fbf1d92a993800438de28dcba7cf6e814c0b9e87f0dc82f4ad98119a5cf10df5cd2b7d7b48721f8e0171202ceb6f4b43a2d50695567fc37d2ab8751a9ff272202a95cadbbbf93e02a8a2734115b047100e63d4c31c09a09c0d649c4bdd5f2255bf939a242935b17ccebc9210dd11f992cd427d19567d3f21ec8cc252f817a22cf7b566db5589d76b80f9b12f8b2f92618c144ea711efbba3ee61d8d09a87a1e29185ad9741868c3fefcb73d2d9451b2a0dd76c44d70a16b6f7f519cef7085deea8b3c4adae6e2a547bad76a511ef27b6fbf9c7d56ce8de9cb650eee43ecc65d78bc2166b1f2490630332a8c8837)

In [3]:
inventories_df = pd.read_csv(r'inventories.csv')
inventory_parts_df = pd.read_csv(r'inventory_parts.csv')
inventory_sets_df = pd.read_csv(r'inventory_sets.csv')
part_categories_df = pd.read_csv(r'part_categories.csv')
parts_df = pd.read_csv(r'parts.csv')
sets_df = pd.read_csv(r'sets.csv')
themes_df = pd.read_csv(r'themes.csv')
colors_df = pd.read_csv(r'colors.csv')

No missing values so lets merge

In [63]:
df1=pd.merge(parts_df, part_categories_df, left_on='part_cat_id', right_on='id',suffixes=('_parts', '_part_categories'))
df2=pd.merge(inventory_parts_df, df1, left_on='inventory_id', right_on='part_cat_id',suffixes=('_inv', '_parts')) 

df3=pd.merge(df2, colors_df, left_on='color_id', right_on='id',suffixes=('_bigdf', '_colors')) 
df3
df4=pd.merge(df3, inventories_df, left_on='inventory_id', right_on='id')#suffixes=('_bigdf', '_inventories'))
df5=pd.merge(df4, sets_df, left_on='set_num', right_on='set_num',suffixes=('','_sets'))
df6=pd.merge(df5, themes_df, left_on='theme_id', right_on='id',suffixes=('', '_themes'))
df6.head(10)
df6.shape

(363337, 24)

In [60]:
df7=pd.merge(df6, inventory_sets_df, left_on='inventory_id', right_on='inventory_id',suffixes=('', '_invsets'))
df7

Empty DataFrame
Columns: [inventory_id, part_num_inv, color_id, quantity, is_spare, part_num_parts, name_parts, part_cat_id, id_bigdf, name_part_categories, id_colors, name, rgb, is_trans, id, version, set_num, name_sets, year, theme_id, num_parts, id_themes, name_themes, parent_id, set_num_invsets, quantity_invsets]
Index: []

[0 rows x 26 columns]

In [66]:
inventory_sets_df["quantity"].unique()

array([ 1,  2,  7,  5,  3, 60, 20], dtype=int64)

In [23]:
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Value': ['A', 'B', 'C']})
df2 = pd.DataFrame({'ID': [1, 2, 3], 'Value': ['X', 'Y', 'Z']})
merged_df = pd.merge(df1, df2, on='ID', suffixes=('_df1', '_df2'))
print(merged_df)

   ID Value_df1 Value_df2
0   1         A         X
1   2         B         Y
2   3         C         Z

In [22]:
part_cat_part_df

,part_num,name_x,part_cat_id,id,name_y
0,0687b1,Set 0687 Activity Booklet 1,17,17,Non-LEGO
1,10016414,Sticker Sheet #1 for 41055-1,17,17,Non-LEGO
2,10019stk01,Sticker for Set 10019 - (43274/4170393),17,17,Non-LEGO
3,10026stk01,Sticker for Set 10026 - (44942/4184185),17,17,Non-LEGO
4,10029stk01,Sticker for Set 10029 - (4216816),17,17,Non-LEGO
...,...,...,...,...,...
25988,clikits217,"Clikits Paper, Gift Tag 5 (2004 Advent Calenda...",48,48,Clikits
25989,clikits218,"Clikits Paper, Gift Tag 5 (2004 Advent Calenda...",48,48,Clikits
25990,clikits221,"Clikits Paper, Icon Accent, Heart 5 x 5 Specia...",48,48,Clikits
25991,clikits222,"Clikits Paper, Icon Accent, Heart 3 x 3 Specia...",48,48,Clikits
25992,clikits223,"Clikits Paper, Icon Accent, Heart 4 x 4 Specia...",48,48,Clikits

In [5]:

inventory_with_color.head(10)

,inventory_id,part_num_x,color_id,quantity,is_spare,part_num_y,name_x,part_cat_id,id_x,name_y,id_y,name,rgb,is_trans
0,1,48379c01,72,1,f,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
1,1,48379c01,72,1,f,0902,Baseplate 16 x 24 with Set 080 Small White Hou...,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
2,1,48379c01,72,1,f,0903,Baseplate 16 x 24 with Set 080 Red House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
3,1,48379c01,72,1,f,0904,Baseplate 16 x 24 with Set 080 Large White Hou...,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
4,1,48379c01,72,1,f,10,Baseplate 24 x 32,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
5,1,48379c01,72,1,f,10a,Baseplate 24 x 32 with Squared Corners,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
6,1,48379c01,72,1,f,10b,Baseplate 24 x 32 with Rounded Corners,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
7,1,48379c01,72,1,f,10p01,Baseplate 24 x 32 with Dots Print [363 / 555],1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
8,1,48379c01,72,1,f,10p02,Baseplate 24 x 32 with Dots Print [354 / 560-2],1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f
9,1,48379c01,72,1,f,10p03,Baseplate 24 x 32 with Dots Print [358],1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f

In [6]:
inventories_df.head(1)

   id  version set_num
0   1        1  7922-1

In [7]:
inventory_with_color.head(1)

,inventory_id,part_num_x,color_id,quantity,is_spare,part_num_y,name_x,part_cat_id,id_x,name_y,id_y,name,rgb,is_trans
0,1,48379c01,72,1,f,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f

In [8]:
color_with_inventories.shape

(363337, 17)

In [10]:
color_with_inventories.head(1)

,id,version,set_num,inventory_id,part_num_x,color_id,quantity,is_spare,part_num_y,name_x,part_cat_id,id_x,name_y,id_y,name,rgb,is_trans
0,1,1,7922-1,1,48379c01,72,1,f,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f

In [13]:
inventory_sets_df.head(1)

   inventory_id  set_num  quantity
0            35  75911-1         1

In [14]:
color_with_inventories.head(1)

,id,version,set_num,inventory_id,part_num_x,color_id,quantity,is_spare,part_num_y,name_x,part_cat_id,id_x,name_y,id_y,name,rgb,is_trans
0,1,1,7922-1,1,48379c01,72,1,f,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f

In [17]:
pd.merge(inventory_sets_df, sets_df, left_on='inventory_id', right_on='id_y')

KeyError: 'id_y'

# How complex are the sets, evolution of sets?