In [3]:
import pandas as pd

link to schema/dataset https://www.kaggle.com/datasets/rtatman/lego-database/data?select=downloads_schema.png

![Data Schema](https://storage.googleapis.com/kagglesdsdata/datasets/1599/2846/downloads_schema.png?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20231212%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20231212T234545Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=53b3e47decb23e7f1baeea65238470213dd97fbf1d92a993800438de28dcba7cf6e814c0b9e87f0dc82f4ad98119a5cf10df5cd2b7d7b48721f8e0171202ceb6f4b43a2d50695567fc37d2ab8751a9ff272202a95cadbbbf93e02a8a2734115b047100e63d4c31c09a09c0d649c4bdd5f2255bf939a242935b17ccebc9210dd11f992cd427d19567d3f21ec8cc252f817a22cf7b566db5589d76b80f9b12f8b2f92618c144ea711efbba3ee61d8d09a87a1e29185ad9741868c3fefcb73d2d9451b2a0dd76c44d70a16b6f7f519cef7085deea8b3c4adae6e2a547bad76a511ef27b6fbf9c7d56ce8de9cb650eee43ecc65d78bc2166b1f2490630332a8c8837)

In [4]:
inventories_df = pd.read_csv(r'inventories.csv')
inventory_parts_df = pd.read_csv(r'inventory_parts.csv')
inventory_sets_df = pd.read_csv(r'inventory_sets.csv')
part_categories_df = pd.read_csv(r'part_categories.csv')
parts_df = pd.read_csv(r'parts.csv')
sets_df = pd.read_csv(r'sets.csv')
themes_df = pd.read_csv(r'themes.csv')
colors_df = pd.read_csv(r'colors.csv')

No missing values so lets merge

In [12]:
part_cat_part_df=pd.merge(parts_df, part_categories_df, left_on='part_cat_id', right_on='id')
inventory_with_parts=pd.merge(inventory_parts_df, part_cat_part_df, left_on='inventory_id', right_on='part_cat_id') 
inventory_with_color=pd.merge(inventory_with_parts, colors_df, left_on='color_id', right_on='id') 
color_with_inventories=pd.merge(inventories_df, inventory_with_color, left_on='id', right_on='inventory_id')

In [62]:

inventory_with_color.shape

(363337, 14)

In [7]:
inventories_df.head(1)

   id  version set_num
0   1        1  7922-1

In [8]:
inventory_with_color.head(1)

,inventory_id,part_num_x,color_id,quantity,is_spare,part_num_y,name_x,part_cat_id,id_x,name_y,id_y,name,rgb,is_trans
0,1,48379c01,72,1,f,0901,Baseplate 16 x 30 with Set 080 Yellow House Print,1,1,Baseplates,72,Dark Bluish Gray,6C6E68,f

In [11]:
color_with_inventories.shape

(363337, 17)